div.siteBody{
	display: flex;

	margin-top: 5%;
	margin-bottom: 5%;
	
	justify-content: center;
	flex-wrap: wrap;
}

div.recentGame{
	margin-top: 2%;

}

div.carousel-inner{
	height:auto;
	width: 650px;
	background-color: #000000;
}


.carousel-inner img{
	opacity: 0.5;
}

.openSansFontFamily {
	font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}